{{extend 'layout.html'}}

<div class="post_listing center">
{{if auth.user_id:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'edit')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Post
        </a>
    </div>

{{else:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>

{{pass}}

    <div class="post_list">
    {{for p in posts:}}
        <div class="post text-left">
            <h3>{{=p.post_content}}</h3>
            {{=p.user_email}}<br>
            {{=p.created_on.strftime("%m-%d-%y %H:%M")}}<br>
            <!--=get_user_name_from_email(p.user_email)<br>   #for some reason this is not working-->
            <!-- Here goes the code to display an individual post. The code below is just a placeholder. -->
            {{=p}}
        </div>
    {{pass}}
    </div>

</div>
