{{extend 'layout.html'}}

<div class="post_listing center">
{{if auth.user_id:}}  <!--Checks if user is logged in-->

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'edit')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Post
        </a>
    </div>

{{else:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>

{{pass}}

    <div class="post_list">
    {{for p,n in zip(posts,names):}}
        <div class="post text-left">
            <h3>{{=p.post_content}}</h3>
            <div class="user_name">
                {{=n}}
            </div>
            <div class="created_on">
            {{=p.created_on.strftime("%m-%d-%y %H:%M")}}
            </div>
            {{if p.created_on != p.updated_on:}}
            <div class="edited_on">
            Edited on: {{=p.updated_on.strftime("%m-%d-%y %H:%M")}}
            </div>
            {{pass}}
            {{if auth.user_id and p.user_email==auth.user.email:}}
            <div class="edit_button">
                <a href="{{=URL('default', 'edit', args=[p.id])}}">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            {{pass}}
            <!--=get_user_name_from_email(p.user_email)<br>   #for some reason this is not working-->
            <!-- Here goes the code to display an individual post. The code below is just a placeholder. -->
        </div>
    {{pass}}
    </div>

</div>
