/* line 2, ../sass/_main.scss */
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 7, ../sass/_main.scss */
.post_list {
  padding-top: 10px;
}

/* line 11, ../sass/_main.scss */
.post {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  background: #eeeeee;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* line 21, ../sass/_main.scss */
.post:hover {
  background: #b8d4e8;
}

/* line 25, ../sass/_main.scss */
.user_name {
  display: inline-block;
  margin-right: 30px;
  color: #327bff;
}

/* line 31, ../sass/_main.scss */
.created_on {
  display: inline-block;
  margin-right: 30px;
  color: #327bff;
}

/* line 37, ../sass/_main.scss */
.edited_on {
  display: inline-block;
  margin-right: 30px;
  color: #327bff;
}

/* line 43, ../sass/_main.scss */
.edit_button {
  float: right;
}

/* line 47, ../sass/_main.scss */
.content {
  font-size: 25px;
  word-wrap: break-word;
  padding: 0px 25px 10px 10px;
}
